#contacts.container   
  h2 ООО «Медикал Системс» 
  p 420074, г. Казань, ул. Петербургская 52, офис/блок 43/29. 
  p ОГРН 1201600033964, ИНН/КПП 1656113786/165601001
  p 
    a(href="/doc/ps.pdf") Пользовательское соглашение
  p 
    a(href="/doc/vitakit-i.pdf") Руководство пользователя

  p.icons
    a(href="https://t.me/vitakit")
      img(src="img/icons/telegram.svg")  
    a(href="mailto:info@vitakit.ru")
      img(src="img/icons/mail.svg") 