head
  meta(charset="utf-8" )
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Репетитор Заленская Наталья Самуиловна
  link(href="./css/style.css" rel="stylesheet" )
  link(href="https://fonts.googleapis.com" rel="preconnect" )  
  link(href="https://fonts.gstatic.com" rel="preconnect" crossorigin)  
  link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet")

  //- link(rel="icon" href="/img/icons/logo.ico" sizes="any")
  //- link(rel="icon" href="/img/icons/logo.svg" type="image/svg+xml")
  //- link(rel="apple-touch-icon" href="/img/icons/logo180.png")
  //- link(rel="manifest" href="/img/icons/manifest.webmanifest")
