#masterhead
  .container

    div.headers

      h1 VitaKit
      h3 Все Ваши назначения у Вас в смартфоне, находите лекарства в ближайших аптеках по лучшей цене!

      .zdrav 
        p При поддержке
        img(src="./img/zdrav.svg" width="167" height="40")

      .masterhead-buttons
        a.dwbtn.app-store(href="https://apps.apple.com/ru/app/vitakit/id1585669216") AppStore
        a.dwbtn.google-play(href="https://play.google.com/store/apps/details?id=ru.vitakit.app") Google Play
    div.phone-img
      img(src="./img/phone-head.png")

