#partners.container   
    h2 Подключенные аптечные сети
    p 
        | Список дополняется 
        sup *

    .banners 
        img(src="./img/our/pz.png" alt="Планета здоровья")
        img(src="./img/our/03.svg" alt="Аптеки 03")
        img(src="./img/our/fl.png" alt="Аптека ФармЛайф")
        img(src="./img/our/ol.png" alt="Оптима")

