#subhead
  a(name="about") 
  .container
    div
      img(src="./img/pillbox-r.svg")

    div 
      p VitaKit - это мобильное приложение для упрощения процесса приобретения выписанных врачом назначений.


