#why
  .container
    h2 
      a(name="why") 
      | Почему именно VitaKit?
    p Скачайте приложение и убедитесь, как удобно им пользоваться!

    .why-not
      div.why-phone-img
        img(src="./img/phone-bottom.png")

      div.why-list
        ul
          li Электронный рецепт не потеряется и всегда будет под рукой
          li До покупки сравните цены в аптеках 
          li Зарезервируйте лекарство перед покупкой 
          li Для покупки просто покажите фармацевту QR-код из приложения
          //- li Приложение напомнит о приеме лекарства
        .qr 
          img(src="./img/qr.svg" width="150" height="150")
        .buttons 
          a(href="https://apps.apple.com/ru/app/vitakit/id1585669216") Скачать для iOS
          a(href="https://play.google.com/store/apps/details?id=ru.vitakit.app") Скачать для Android