mixin w-li(img_src, txt)
  li
    img(src= img_src)
    p= txt

a(name="works") 
#works.container   
  h2 Как это работает?
  p Все очень просто. Процесс получения препарата, выписанного врачом, упрощен до невозможного!

  ul
    +w-li("./img/works/pic1.svg", "На приёме врач выпишет рецепт и занесет его в Вашу электронную медицинскую карту")
    +w-li("./img/works/pic2.svg", "Установите приложение «VitaKit» на смартфон, после авторизации рецепт появится в приложении")
    +w-li("./img/works/pic3.svg", "Вы можете заранее найти в ближайшей аптеке лекарство, узнать его стоимость и забронировать ")
    +w-li("./img/works/pic4.svg", "В аптеке просто покажите QR-код фармацевту и оплатите заказ")
    //- +w-li("./img/works/pic5.svg", "Приложение составит план приема препаратов в соответствии с рецептом и напомнит, когда принять лекарство")

