doctype html
html(lang="ru")
  include includes/head.pug
  body
    include includes/top-nav.pug
    include includes/masterhead.pug
    include includes/subhead.pug
    include includes/works.pug
    include includes/tabs.pug
    include includes/partners.pug
    include includes/why.pug
    include includes/contacts.pug