#masterhead {
  background-color: $primary-color;
  color: $white-color;
  padding-top: 120px;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 50px;
    padding-bottom: 50px;
    h1 {
      font-size: 72px;
      font-weight: 700;
      background: url(../img/logo.svg) center left no-repeat;
      background-size: 108px 108px;
      padding-left: 140px;
      @include media($small-bp) {
        & {
          font-size: 48px;
          background-size: 60px 60px;
          padding-left: 70px;
        }
      }
    }
    h3 {
      font-size: 20px;
      padding-top: 30px;
      text-align: center;
    }
    .masterhead-buttons {
      padding-top: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: -15px;
      & > * {
        margin: 15px;
      }
      a {
        background: #ffffff;
        border: 1px solid #ffffff;
        box-sizing: border-box;
        box-shadow: 0px 2px 15px rgba(255, 255, 255, 0.24);
        border-radius: 8px;
        color: #373737;
        padding: 10px 28px 10px 48px;
        text-decoration: none;
        font-size: 24px;
        white-space: nowrap;
        background-repeat: no-repeat;
        &.google-play {
          background-image: url(../img/logos-google-play-icon.svg);
          background-size: 24px 24px;
          background-position: 15px center;
        }
        &.app-store {
          background-image: url(../img/ant-design-apple-filled.svg);
          background-size: 40px 40px;
          background-position: 6px center;
        }
      }
    }
  }
  .phone-img {
    align-self: flex-end;
  }
  .zdrav {
    display: flex;
    margin: 20px auto;
    p {
      font-size: 14px;
      padding-right: 20px;
      align-self: center;
      font-weight: 300;
    }
  }
}

@include media($small-bp) {
  .phone-img {
    display: none;
  }
}
